---
import { TechIcon } from '../Icons/tech-icons.tsx';

export interface Props {
  title: string;
  imageSrc: string;
  imageAlt: string;
  technologies: string[];
  description: string;
  previewUrl: string;
  githubUrl: string;
}

const {
  title,
  imageSrc,
  imageAlt,
  technologies,
  description,
  previewUrl,
  githubUrl,
} = Astro.props;
---

<article class="project-card">
  <div class="project-image-section">
    <figure class="image-container">
      <img 
        src={imageSrc} 
        alt={imageAlt} 
        loading="lazy" 
        decoding="async" 
      />
    </figure>
    <script src="/src/scripts/project-imge-effect.js"></script>
  </div>

  <div class="project-description">
    <h3 class="project-title">{title}</h3>

    <ul class="project-technologies">
      {technologies.map((tech) => {
        const techKey: string = tech.split('.')[0].toLowerCase();
        return (
          <li class={`tech ${techKey}`} title={tech}>
            <TechIcon tech={techKey} />
            <span>{tech}</span>
          </li>
        );
      })}
    </ul>

    <p class="project-summary">{description}</p>

    <div class="project-links">
      <a 
        href={previewUrl} 
        class="project-link" 
        aria-label="Vista previa del proyecto" 
        target="_blank" 
        rel="noopener noreferrer"
      >
        <svg class="icon-preview" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="stroke-1" d="M15.197 3.35462C16.8703 1.67483 19.4476 1.53865 20.9536 3.05046C22.4596 4.56228 22.3239 7.14956 20.6506 8.82935L18.2268 11.2626M10.0464 14C8.54044 12.4882 8.67609 9.90087 10.3494 8.22108L12.5 6.06212" stroke-width="1.5" stroke-linecap="round"/>
          <path class="stroke-2" d="M13.9536 10C15.4596 11.5118 15.3239 14.0991 13.6506 15.7789L11.2268 18.2121L8.80299 20.6454C7.12969 22.3252 4.55237 22.4613 3.0464 20.9495C1.54043 19.4377 1.67609 16.8504 3.34939 15.1706L5.77323 12.7373" stroke-width="1.5" stroke-linecap="round"/>
        </svg>
        <span>preview</span>
      </a>

      <a 
        href={githubUrl} 
        class="project-link" 
        aria-label="Ver código fuente en GitHub" 
        target="_blank" 
        rel="noopener noreferrer"
      >
        <svg class="icon-github" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path class="path-bg" d="M0 0h24v24H0z" fill="none" stroke="none" />
          <path class="path-main" d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2
          c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2
          s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3
          a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6
          -.6 .6 -.6 1.2 -.5 2v3.5" />
        </svg>
        <span>code</span>
      </a>
    </div>
  </div>
</article>

<style>
  .project-card {
    display: flex;
    gap: 1rem;
  }

  .project-image-section {
    width: 1500px;
    height: 300px;
    perspective: 1000px;
  }

  .image-container {
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    transition: transform 0.6s, box-shadow 0.6s;
    transform-style: preserve-3d;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
    backface-visibility: hidden;
  }


  h3{
    font-size: 2rem;
    margin: 0;
    color: var(--azul-claro);
  }

  p{
    color: #E0E0E0;
  }
  .project-technologies {
    display: flex;
    gap: 0.5rem;
    padding: 0;
  }

  .tech {
    list-style: none;
    padding: 0 1rem;
    border-radius: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.5rem;
    gap: 0.5rem;
  }

  .react {
     color: #53C1DE;
     background-color: #FFF;
  }

  .typescript {
    color: #fff;
    background-color: #0A2B61 ;
  }

  .project-links {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }

  .project-link {
    display: flex;
    width: min-content;
    justify-content: center;
    align-items: center;
    background-color: var(--buttons-color);
    border: 1px solid #858686;
    padding: 5px 10px;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 9px; 
    transition: background-color 0.3s, color 0.3s;
  }

  .project-link:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
  }

  .project-link span {
    margin-left: 5px;
    text-transform: uppercase;
  }

  .stroke-1,
  .stroke-2 {
    stroke: var(--text-color);
    transition: stroke 0.3s;
  }

  .icon-github .path-main {
    transition: stroke 0.3s;
    stroke: var(--text-color);
  }

  .icon-github .path-bg {
    stroke: none;
  }

  .project-link:hover .stroke-1,
  .project-link:hover .stroke-2,
  .project-link:hover .icon-github .path-main {
    stroke: var(--bg-color);
  }


</style>
